.WeatherWidget {
	width: 100%;
	border: 1px solid #333;
	padding: 1px 2px;
	border-radius: 5px;
	text-align: center;
	margin: 60px 0;
	background: #333;
	color: #fff;
}
code {
	background: #eee;
	display: block;
	padding: 10px;
}
.WeatherWidget p {
	text-align: center;
}
