.Header {
	width: 100%;
	background: #eee;
	margin: 0;
}

.Header h1 {
	text-align: center;
	font-size: 3em;
	color: #000;
	margin: auto;
	padding: 10px 10px;
	text-transform: capitalize;
	width: 100%;
}

.InnerHeader {
	display: flex;
	align-items: center;
	place-items: center;
	justify-content: space-between;
}

@media (max-width: 750px) {
	.Header h1 {
		text-align: right;
	}
}
