.HobbyCard {
	width: 30%;
	border-radius: 10px;
	border: 1px solid #eee;
	box-shadow: 2px 2px 5px #eee;
	margin-top: 20px;
	transition: all 0.3s;
}
.HobbyCard h2 {
	text-align: center;
}

.HobbyCard img {
	width: 100%;
	height: 240px;
	border-radius: 10px 10px 0 0;
}

.HobbyCard p {
	padding: 0 5px;
}
.HobbyCard img {
	transition: all 0.4s;
}
.HobbyCard:hover {
	box-shadow: 2px 2px 3px #bbb;
}

.HobbyCard:hover img {
	filter: grayscale(100%);
}

@media (max-width: 750px) {
	.HobbyCard {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.HobbyCard {
		width: 100%;
	}
}
