html {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}
body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* h1 {
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
} */

.container {
	width: 70%;
	margin: 50px auto 0 auto;
}

.active {
	opacity: 0.5;
}

@media (max-width: 750px) {
	.container {
		width: 85%;
	}
}

body.light-mode {
	background-color: #fff;
	color: #333;
	transition: background-color 0.3s ease;
}
body.dark-mode {
	background-color: #1a1919;
	color: #fff;
}
